/*.auth {
    max-width: auto;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  }*/
  
  .auth label {
    display: block;
    margin-bottom: 10px;
  }
  
  .auth input[type='text'],
  .auth input[type='email'],
  .auth input[type='password'] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
  }
  
  .auth input[type='submit'] {
    margin-top: 20px;
    width: 25%;
    font-size: 20px;
    padding: 10px;
   
    background-color: #00287e;
    color: #fff;
  }
  
  .auth div {
    margin-bottom: 20px;
  }

  .grid2 {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    
    
}

.boxone,.boxtwo {
  border: solid black 1px;
  background-color: lightgray;
  height: auto;
  margin: 2rem;
  padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

hr.line {
    border: 2px solid #00287e;
}

.htwo {
 display: flex;
 flex-direction: column;
}
.rangefont {
    font-size: 6rem;
}
.cschools {
    color: rgb(243, 243, 17);
    font-size: 3rem
}